*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light-bg: #cfd7d9;
    --calc-bg: #ffffff;
    --calc-border: #3b476e;
    /* --equal-bg: #64a6f1; */
    --equal-bg: #95bff0;
    --button-darker-bg: #ebebeb;
    --pr-text-color: #0d101a;
    --sc-text-color: #43495c;
    /* --clear-all-bg: #e23f3f;
    --clear-cur-bg: #f7734b; */
    --clear-all-bg: #eb8484;
    --clear-cur-bg: #eea18a;
    --erase-bg: #e7db96;

    /* --lavender-light: #E7E6F7;
    --lavender-dark: #C6D2ED;
    --purple-pale: #E3D0D8;
    --rose-quartz: #AEA3B0;
    --pink-dark: #827081; */

    --space-1: 8px;
    --space-2: 16px;

    --font-s-1: 12px;
    --font-s-2: 16px;
    --font-s-3: 24px;
}

html {
    font-family: "Lato", sans-serif;
}

body {
    background-color: var(--light-bg);
}

button {
    font-family: inherit;
    font-size: var(--font-s-2);
    font-weight: 700;

    background-color: var(--calc-bg);
    color: var(--pr-text-color);

    border: 1px dashed var(--calc-border);
    border-radius: 4px;

    min-width: 3.6rem;
    height: 3.6rem;

    transition: 100ms ease;
}

/* button.clear-all,
button.clear-current,
button.erase, */
button.operation {
    background-color: var(--button-darker-bg);
}

button.equal {
    background-color: var(--equal-bg);
}

button.clear-all {
    background-color: var(--clear-all-bg);
}

button.clear-current {
    background-color: var(--clear-cur-bg);
}

button.erase {
    background-color: var(--erase-bg);
}

button:hover {
    transform: scale(1.05);
    border-style: solid;
    box-shadow: 0 0 4px 1px #999999;
}

button:active {
    transform: scale(0.95);
}

.calculator-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: var(--calc-bg);
    border: 1px solid var(--calc-border);
    border-radius: 4px;
    box-shadow: 0 0 16px 1px #444444;
    padding: var(--space-1);
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.last-operation {
    min-height: 1rem;
    max-width: 250px;
    user-select: none;
    font-family: inherit;
    font-size: var(--font-s-1);
    font-weight: 200;
    color: var(--sc-text-color);
}

.current-input {
    max-width: 250px;
    /* overflow: hidden;
    text-overflow: ellipsis; */
    overflow-wrap: break-word;
    user-select: none;
    font-family: inherit;
    font-size: var(--font-s-3);
    font-weight: 700;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

.row {
    display: flex;
    gap: var(--space-1);
}